WS_PORT=3000

DEVICES_CONFIG_PATH=./devices.json
WAN_TYPES_CONFIG_PATH=./wan_types.json
USER_CONFIG_PATH=./users.json

STATUS_CHECK_INTERVAL=15
STATUS_CHECK_TIMEOUT=3

MOXA_IP_1=
MOXA_IP_2=
MOXA_IP_3=

JEROME_1_IP=
JEROME_2_IP=
JEROME_PORT=2424

VES_LOGIN=
VES_PASSWORD=
VES_IP=
VES_PORT=

SWITCH_ID_1=
SWITCH_ID_2=
SWITCH_ID_3=
SWITCH_LOGIN=
SWITCH_PASSWORD=
SWITCH_PORT=23