[Unit]
Description=Monitor Start
After=network-online.target iptables.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/monitorRoutes.sh
PIDFile=/tmp/monitorRoutes

[Install]
WantedBy=multi-user.target