[Unit]
Description=Monitor Start
After=network-online.target iptables.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/monitorRoutes.sh

[Install]
WantedBy=multi-user.target