# Скопировать в vars/secrets.yml и заполнить. secrets.yml в .gitignore.
# Вариант: зашифровать `ansible-vault encrypt vars/secrets.yml` и тогда его можно коммитить.
login_ves: "nddr"
password_ves: ""
login_switch: "nddr"
password_switch: ""

# Приватный ключ на машине, с которой запускается Ansible
ssh_key_src: "{{ lookup('env', 'HOME') }}/.ssh/ndsr_backend_ed25519"
