*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.terraform.lock.hlc
.terraform/
jammy-server-cloudimg-amd64.ova
credentials.tf
# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
