# Сгенерировано Ansible (роль NDSR-APP-Compose-role-UP) из inventory стенда
IMAGE_FRONTEND={{ image_frontend }}
FRONTEND_IP={{ frontend_ip }}
IMAGE_BACKEND={{ image_backend }}
BACKEND_IP={{ backend_ip }}
IMAGE_WEBTELNET={{ image_webtelnet }}
WEBTELNET_IP={{ webtelnet_ip }}
